:root {
  --dark: #2e2f42;
  --text: #434455;
  --light: #f4f4fd;
  --main-color: #ffffff;
  --modal-color: #fcfcfc;
  --primary-brand: #4d5ae5;
  --pressed-state: #404bbf;
  --accent-color: #31d0aa;
  --helper-text: #8e8f99;
  --btn-color: #e7e9fc;
  --transition-duration-and-function: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
body {
  background-color: var(--main-color);
  font-family: 'Roboto', sans-serif;
  color: var(--text);
}

.list {
  list-style: none;
}
.link {
  text-decoration: none;
}
h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}
ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
img {
  display: block;
}
.button {
  cursor: pointer;
}
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.container {
  width: 100%;
  padding-left: 16px;
  padding-right: 16px;
}
@media screen and (min-width: 428px) {
  .container {
    width: 428px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1158px) {
  .container {
    width: 1158px;
  }
}

/* =================header==================== */

.page-header {
  padding-top: 24px;
  padding-bottom: 24px;
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.page-header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo-header {
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-brand);
}

.span-logo {
  color: var(--dark);
}

.modal-close-icon {
  fill: var(--dark);
  fill-opacity: 1;
}
.social-list {
  display: flex;
  justify-content: space-between;
}
.social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--primary-brand);
  transition: background-color var(--transition-duration-and-function);
}
.social-icon {
  fill: var(--light);
}
.social-link:hover,
.social-link:focus {
  background-color: var(--pressed-state);
}

@media screen and (max-width: 767px) {
  .address {
    display: none;
  }
  .menu-list {
    display: none;
  }
  .mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--main-color);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }
  .mobile-menu-open-btn {
    border: none;
    background-color: transparent;
    padding: 0;
    line-height: 0;
  }
  .mobile-menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }
  .mobile-menu-container {
    position: relative;
    padding: 80px 35px 40px 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .mobile-menu-close-btn {
    position: absolute;
    top: 24px;
    right: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    border: 1px solid (var(--dark), 0.1);
    border-radius: 50%;
    fill: var(--btn-color);
    fill-opacity: 0.1;

    transition: background-color var(--transition-duration-and-function),
      border var(--transition-duration-and-function);
  }
  .mobile-address {
    display: flex;
    flex-direction: column;
    margin-bottom: 48px;
  }
  .mobile-tel-link {
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: var(--primary-brand);
    margin-bottom: 40px;
  }
  .mobile-mail-link {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--text);
  }
  .mobile-address-link:hover,
  .mobile-address-link:focus {
    color: var(--pressed-state);
  }
  .mobile-menu-list {
    margin-bottom: 284px;
  }
  .mobile-menu-link {
    display: flex;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: var(--dark);
    transition: color var(--transition-duration-and-function);
  }
  .current-menu-item {
    color: var(--pressed-state);
  }
  .mobile-menu-item:not(:last-child) {
    margin-bottom: 40px;
  }
}

@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
  .mobile-menu-close-btn {
    display: none;
  }
  .mobile-menu-open-btn {
    display: none;
  }
  .header-navigation {
    display: flex;
    align-items: center;
  }
  .logo-header {
    margin-right: 120px;
  }
  .menu-list {
    display: flex;
  }
  .menu-item:not(:last-child) {
    margin-right: 40px;
  }

  .page-header {
    padding-top: 0;
    padding-bottom: 0;
  }
  .menu-link {
    display: block;
    position: relative;
    padding-top: 24px;
    padding-bottom: 24px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--dark);
    transition: color var(--transition-duration-and-function);
  }
  .menu-link:hover,
  .menu-link:focus {
    color: var(--pressed-state);
  }
  .current-menu-item {
    color: var(--pressed-state);
  }

  .current-menu-item::after,
  .current-menu-item::after {
    position: absolute;
    content: '';
    display: block;
    width: 48px;
    height: 4px;
    left: 0;
    margin-left: auto;
    margin-right: auto;
    bottom: -1px;
    border-radius: 2px;
    background-color: var(--pressed-state);
  }
  .address {
    font-style: normal;
    margin-left: auto;
  }
  .address-link {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: var(--text);
    transition: color var(--transition-duration-and-function);
  }
  .address-link:hover,
  .address-link:focus {
    color: var(--pressed-state);
  }
}

@media screen and (min-width: 1158px) {
  .address-list {
    display: flex;
    margin-left: auto;
  }
  .address-item:not(:last-child) {
    margin-right: 40px;
  }
  .address-link {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--text);
    transition: color var(--transition-duration-and-function);
  }
}
/* ===============hero================== */
.main-title {
  font-style: normal;
  font-weight: 700;
  letter-spacing: 0.02em;
  color: var(--main-color);
  text-align: center;
}
.order-service-btn {
  display: block;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  padding: 16px 32px;
  min-width: 169px;
  height: 56px;
  background: var(--primary-brand);
  color: var(--main-color);
  border: 1px solid #000000;
  border: none;
  border-radius: 4px;
  margin-top: 72px;
  margin-right: auto;
  margin-left: auto;
  transition: background-color var(--transition-duration-and-function);
}
.order-service-btn:hover,
.order-service-btn:focus {
  background-color: var(--pressed-state);
}
.section-hero {
  width: 100%;
  background-color: var(--dark);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

/* 0px - 428px */
@media screen and (max-width: 428px) {
  .section-hero {
    min-height: 432px;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url('../images/hero/office-mobile@1x.jpg');
  }
  .main-title {
    font-size: 36px;
    line-height: 1.11;
    text-transform: capitalize;
  }
}
@media screen and (min-device-pixel-ratio: 2) and (max-width: 428px),
  (min-resolution: 192dpi) and (max-width: 428px),
  (min-resolution: 2dppx) and (max-width: 428px) {
  .section-hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url('../images/hero/office-mobile@2x.jpg');
  }
}
/* 768px - 1157px */
@media screen and (min-width: 429px) and (max-width: 768px) {
  .section-hero {
    min-height: 436px;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url('../images/hero/office-tablet@1x.jpg');
  }
  .main-title {
    font-size: 56px;
    line-height: 1.07;
  }
}
@media screen and (min-device-pixel-ratio: 2) and (min-width: 429px) and (max-width: 768px),
  (min-resolution: 192dpi) and (min-width: 429px) and (max-width: 768px),
  (min-resolution: 2dppx) and (min-width: 429px) and (max-width: 768px) {
  .section-hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url('../images/hero/office-tablet@2x.jpg');
  }
}
@media screen and (max-width: 1157px) {
  .section-hero {
    padding-top: 112px;
    padding-bottom: 112px;
  }
}
@media screen and (min-width: 769px) {
  .section-hero {
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 188px;
    padding-bottom: 188px;
    min-height: 600px;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url('../images/hero/office-desktop@1x.jpg');
  }
}
@media screen and (min-device-pixel-ratio: 2) and (min-width: 769px),
  (min-resolution: 192dpi) and (min-width: 769px),
  (min-resolution: 2dppx) and (min-width: 769px) {
  .section-hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url('../images/hero/office-desktop@2x.jpg');
  }
}
/* ================Features=================== */
.section-title {
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  color: var(--dark);
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.title-item {
  letter-spacing: 0.02em;
  color: var(--dark);
  text-align: center;
}
@media screen and (max-width: 1157px) {
  .section {
    padding-top: 96px;
    padding-bottom: 96px;
  }
  .features-item:not(:last-child) {
    margin-bottom: 72px;
  }
  .features-icon-item {
    display: none;
    margin-bottom: 8px;
    letter-spacing: 0.02em;
    text-transform: capitalize;
  }
  .paragraph {
    font-style: normal;
    letter-spacing: 0.02em;
    color: var(--text);
    font-size: 16px;
    line-height: 1.5;
  }
  .title-item {
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
  }
  .paragraph {
    font-weight: 500;
  }
}
@media screen and (min-width: 768px) {
  .features-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
  }
  .features-item {
    flex-basis: calc((100% - 24px) / 2);
  }
}
@media screen and (min-width: 1158px) {
  .section {
    padding-top: 120px;
    padding-bottom: 120px;
  }
  .title-item {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
  }
  .paragraph {
    font-weight: 400;
  }
  .features-list {
    flex-wrap: nowrap;
  }
  .features-item {
    flex-basis: calc((100% - 72px) / 4);
  }
  .features-icon-item {
    display: flex;
    background-color: var(--light);
    width: 264px;
    height: 112px;
    border-radius: 4px;
    align-items: center;
    justify-content: center;
    margin-bottom: 8px;
  }
}
/* ==============What are we doing================  */
@media screen and (max-width: 1157px) {
  .section-services {
    display: none;
  }
}
@media screen and (min-width: 1158px) {
  .services-list {
    display: flex;
  }
  .section-services {
    padding-top: 0;
  }
  .services-item {
    flex-basis: calc((100% - 48px) / 3);
  }
  .services-item:not(:last-child) {
    margin-right: 24px;
  }
}
/* ===================Our Team====================  */

.team-item {
  background-color: var(--main-color);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
}

.team-img-content {
  max-width: 264px;
  padding: 32px 16px;
}
.text-centr {
  text-align: center;
}
.team-title-item {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--dark);
  margin-bottom: 8px;
}
.team-paragraph {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text);
  margin-bottom: 8px;
}
.section-team {
  background-color: var(--light);
}
@media screen and (max-width: 767px) {
  .team-item:not(:last-child) {
    margin-bottom: 72px;
  }
  .team-list {
    max-width: 264px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: 768px) {
  .team-list {
    max-width: 552px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 72px;
  }
  .team-item {
    flex-basis: calc((100% - 24px) / 2);
    border-radius: 0px 0px 4px 4px;
  }
}
@media screen and (min-width: 1158px) {
  .team-list {
    max-width: 1128px;
    flex-wrap: nowrap;
  }
  .team-item {
    flex-basis: calc((100% - 72px) / 4);
  }
}

/* =============Customers================ */

.customers-link {
  display: flex;
  height: 88px;
  background-color: var(--main-color);
  color: var(--helper-text);
  border: 1px solid var(--helper-text);
  border-radius: 4px;
  align-items: center;
  justify-content: center;

  transition: border-color var(--transition-duration-and-function),
    color var(--transition-duration-and-function);
}
.customers-link:hover,
.customers-link:focus {
  border: 1px solid var(--pressed-state);
  color: var(--pressed-state);
}
.customers-icon {
  display: flex;
  fill: currentColor;
  height: 56px;
}
@media screen and (max-width: 767px) {
  .customers-link {
    width: 190px;
  }
  .customers-icon {
    width: 110px;
  }
}
.customers-list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 72px;
  column-gap: 15px;
}

@media screen and (min-width: 768px) {
  .customers-link {
    width: 168px;
  }
  .customers-icon {
    width: 104px;
  }

  .customers-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 72px;
    justify-content: center;
  }
}
@media screen and (min-width: 1158px) {
  .customers-list {
    display: flex;
    column-gap: 24px;
    flex-wrap: nowrap;
  }
}

/* =============Page footer================= */
.light-logo {
  color: var(--light);
}
.page-footer {
  background-color: var(--dark);
}

.logo-footer {
  display: flex;
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-brand);
  margin-bottom: 16px;
}
.social-link-footer:hover,
.social-link-footer:focus {
  background-color: var(--accent-color);
}

.paragraph-footer {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-left: auto;
  margin-right: auto;
}
.social-media {
  margin-bottom: 72px;
}
.footer-title {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--main-color);
  margin-bottom: 16px;
}
.footer-label-email {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--main-color);
}
.footer-input-email {
  width: 100%;
  height: 40px;
  border: 1px solid #ffffff;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: transparent;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.5;
  align-items: center;
  letter-spacing: 0.04em;
  padding: 8px 16px;
  color: var(--main-color);
}
.footer-subscribe-btn {
  display: flex;
  min-width: 165px;
  height: 40px;
  background: var(--primary-brand);
  border: none;
  border-radius: 4px;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--main-color);
  padding: 0 24px;
  align-items: center;
  text-align: center;
  transition: background-color var(--transition-duration-and-function);
}
.footer-subscribe-btn:hover,
.footer-subscribe-btn:focus {
  background-color: var(--accent-color);
}
.footer-subscribe-btn-icon {
  margin-left: 24px;
}
@media screen and (max-width: 767px) {
  .footer-title {
    text-align: center;
  }
  .paragraph-footer {
    width: 268px;
  }
  .social-list-footer {
    display: flex;
    justify-content: center;
    column-gap: 16px;
  }
  .footer-subscribe-btn {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .footer-input-email {
    margin-bottom: 16px;
  }
  .paragraph-footer {
    margin-bottom: 72px;
  }
  .logo-footer {
    justify-content: center;
  }
}
@media screen and (min-width: 768px) {
  .footer-email-content {
    display: flex;
    justify-content: center;
  }
  .footer-content {
    display: flex;
    justify-content: center;
  }
  .social-media {
    margin-left: 24px;
  }
  .social-list-footer {
    display: flex;
    column-gap: 16px;
  }
  .paragraph-footer {
    width: 264px;
  }

  .footer-form-email {
    display: flex;
    align-items: flex-start;
  }
  .footer-input-email {
    width: 264px;
  }

  .footer-subscribe-btn {
    margin-left: 24px;
  }
}
@media screen and (max-width: 1157px) {
  .page-footer {
    padding-top: 96px;
    padding-bottom: 96px;
  }
}

@media screen and (min-width: 1158px) {
  .page-footer {
    padding: 100px 0;
  }
  .container-footer {
    display: flex;
    justify-content: space-between;
  }
  .social-media {
    margin-left: 120px;
  }
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(46, 47, 66, 0.4);
  transition: opacity var(--transition-duration-and-function),
    visibility var(--transition-duration-and-function);
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 408px;
  min-height: 576px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  background-color: var(--modal-color);
  transition: transform var(--transition-duration-and-function);
  padding: 72px 24px 24px 24px;
}
.modal-close-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  padding: 0;
  cursor: pointer;
  background-color: var(--btn-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  transition: background-color var(--transition-duration-and-function),
    border var(--transition-duration-and-function);
}
.modal-close-icon {
  transition: fill var(--transition-duration-and-function);
}
.modal-close-btn:hover,
.modal-close-btn:focus {
  background-color: var(--pressed-state);
  border: none;
  fill: var(--main-color);
}
.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.contact-form-header {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--dark);
  margin-bottom: 16px;
}

.contact-form-item {
  margin-bottom: 8px;
}
.contact-form-comment {
  margin-bottom: 16px;
}
.form-field-wrapper {
  display: block;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--helper-text);
  margin-bottom: 4px;
}

.contact-form-field {
  position: relative;
  display: block;
}
.contact-form-input {
  display: block;
  width: 100%;
  height: 40px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  outline: transparent;
  padding-left: 38px;
  color: var(--dark);
  transition: border-color var(--transition-duration-and-function);
}
.form-icon {
  display: block;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 16px;
  fill: var(--dark);
  transition: fill var(--transition-duration-and-function);
}

.contact-form-input:hover,
.contact-form-input:focus {
  border: 1px solid var(--primary-brand);
}
.contact-form-input:hover + .form-icon,
.contact-form-input:focus + .form-icon {
  fill: var(--primary-brand);
}
.contact-form-message {
  width: 100%;
  height: 120px;
  background-color: transparent;
  border: 1px solid rgba(46, 47, 66, 0.2);
  border-radius: 4px;
  padding: 8px 16px;
  resize: none;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  outline: transparent;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  transition: border-color var(--transition-duration-and-function);
}
.contact-form-message:hover,
.contact-form-message:focus {
  border: 1px solid var(--primary-brand);
}
.contact-form-checkbox-wrapper {
  display: inline-flex;
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  cursor: pointer;
  margin-right: 8px;
  background-color: transparent;
  fill: transparent;
  justify-content: center;
  align-items: center;
}
.form-field-checkbox {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--helper-text);
}

.contact-form-checkbox:checked
  + .form-field-checkbox
  > .contact-form-checkbox-wrapper {
  background: var(--pressed-state);
  border: none;
  border-color: var(--pressed-state);
  fill: var(--main-color);
}
.contact-form-checkbox-link {
  color: var(--primary-brand);
}
.form-checkbox {
  margin-bottom: 24px;
}
.contact-form-btn {
  font-family: 'Roboto', sans-serif;
  display: block;
  text-align: center;
  letter-spacing: 0.04em;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  min-width: 169px;
  height: 56px;
  background: var(--primary-brand);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  border: none;
  color: var(--main-color);

  margin-right: auto;
  margin-left: auto;
  transition: background-color var(--transition-duration-and-function);
}
.contact-form-btn:hover,
.contact-form-btn:focus {
  background-color: var(--pressed-state);
}

/* ==================portfolio================ */
/* .section-portfolio {
  padding-top: 96px;
  padding-bottom: 120px;
}
.portfolio-list-btn {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-bottom: 72px;
}
.filter-btn {
  display: inline-block;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--primary-brand);
  background: var(--light);
  border: 1px solid #e7e9fc;
  cursor: pointer;
  padding: 12px 24px;
  min-width: 78px;
  border: 1px solid #e7e9fc;
  border-radius: 4px;
  transition: color var(--transition-duration-and-function),
    background-color var(--transition-duration-and-function),
    border-color var(--transition-duration-and-function),
    box-shadow var(--transition-duration-and-function);
}
.portfolio-list {
  display: flex;
  column-gap: 24px;
  row-gap: 48px;
  flex-wrap: wrap;
}
.portfolio-item {
  flex-basis: calc((100% - 48px) / 3);
}

.portfolio-title-item {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--dark);
}
.filter-btn:hover,
.filter-btn:focus {
  color: var(--main-color);
  background-color: var(--pressed-state);
  border: 1px solid transparent;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio-link {
  display: block;
  transition: box-shadow var(--transition-duration-and-function);
}
.portfolio-item-content {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}
.portfolio-link:hover,
.portfolio-link:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio-title-item {
  margin-bottom: 8px;
}

.portfolio-list-img {
  position: relative;
  overflow: hidden;
}

.portfolio-link:hover .overlay,
.portfolio-link:focus .overlay {
  transform: translateY(0%);
}
*/ .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 40px 32px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  background-color: var(--primary-brand);
  color: var(--light);
  overflow: auto;
  transform: translateY(100%);
  transition: transform var(--transition-duration-and-function);
} */
